<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/karen.jpg" alt="Karen Peng">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/karenpeng">Karen Peng</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">Software Engineer</span> at Uber</p>
        <a class="email" href="https://github.com/karenpeng">github.com/karenpeng</a>
    </div>
</section>
